.typeInput{
    width: 230px;
    height: 22px;
    text-align: center;
    margin-bottom: 20px;
}

.btnSend{
    height: 30px;
    width: 80px;
    font-size: 16px;
    text-align: center;
    background-color: white;
    color: black;
    margin: 8px;
    border: 2px solid black;
} .btnSend:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.8s;
}

.letraPalavra{
    text-align: center;
    font-size: 50px;
    width: 60px;
    height: 75px;
    margin: 5px;
    visibility: hidden;
}
.letraPalavraVisivel{
    text-align: center;
    font-size: 50px;
    width: 60px;
    height: 75px;
    margin: 5px;
    visibility: visible;
}

.comeceOJogo{
    height: 30px;
    width: 110px;
    font-size: 16px;
    text-align: center;
    background: white;
    color: black;
    margin: 8px;
    border: 2px solid black;
}

.colunasLetrasInicial{
    visibility: hidden;
}
.colunaLetrasFinal{
    visibility: visible;
}